

<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<h2>Georreferencias</h2>

<table id="georreferencia-list" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>IdEstado</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

