

<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<h2>Usuarios</h2>

<table id="usuario-list" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>RFC</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

